fastapi==0.115.2
uvicorn[standard]
requests==2.32.3

gunicorn==23.0.0
databases==0.9.0

sqlalchemy

python-dotenv==1.0.1
langchain==0.3.21
langchain-community==0.3.20
langchain-openai==0.3.8
tiktoken==0.8.0
faiss-cpu==1.8.0.post1
aiofiles==24.1.0
httpx==0.27.0
openai==1.58.1
python-multipart
pydantic
redis
reportlab
markdown
beautifulsoup4>=4.12.0
weasyprint

boto3>=1.34
